node_modules
dist
.quasar
backend
src-electron
src-pwa/dev-sw.js
src-pwa/registerServiceWorker.js
tests
playwright-report
test-results
.git
.gitignore
.env
.env.example
.env.local
*.log
README.md
LICENSE.md
FUNDING.yml
playwright.config.ts
nginx/nginx.conf
