@use "sass:color";

// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #d7ac47;
$secondary :  #f75746;
$accent    : #dde4e4;

$dark      : #18303a;

$positive  : #35a14e;
$negative  : #c10015;
$info      : color.adjust(#d7ac47, $lightness: 35%, $space: hsl);
$warning   : #f2c037;

$customColors: (
  'gunmetal': #18303a,
  'gunmetal-light': color.adjust(#18303a, $lightness: 7.5%, $space: hsl),
  'gunmetal-lighter': color.adjust(#18303a, $lightness: 12.5%, $space: hsl),
  'gunmetal-medium': color.adjust(#18303a, $lightness: 20%, $space: hsl),
  'gunmetal-bright': color.adjust(#18303a, $lightness: 50%, $space: hsl),
  'gunmetal-shine': color.adjust(#18303a, $lightness: 60%, $space: hsl),
  'ruby-red': #f75746,
  'satin-sheen-gold': #e8bb50,
  'satin-sheen-gold-dark': color.adjust(#e8bb50, $lightness: -12.5%, $space: hsl),
  'satin-sheen-gold-darker': color.adjust(#e8bb50, $lightness: -17.5%, $space: hsl),
  'satin-sheen-gold-light': color.adjust(#e8bb50, $lightness: 7.5%, $space: hsl),
  'satin-sheen-gold-bright': color.adjust(#e8bb50, $lightness: 15%, $space: hsl),
  'gainsboro': #dde4e4,
  'cultured': #f5f5f5
);
